.general h2 {
    margin-bottom: 70px;
    font-family: 'Ferry';
    font-weight: 900;
    font-size: 45px;
    line-height: 54px;
}

.cardContainer {
    position: relative;
    margin-bottom: 85px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid black; */
}

.nextButton,
.previosButton {
    width: 28px;
    height: 40px;
    background-repeat: no-repeat;
}

.nextButton {
    background-image: url("../../../../images/landing/next.png");
}

.previosButton {
    background-image: url("../../../../images/landing/previos.png");
}