.general h2 {
    margin-bottom: 70px;
    font-family: 'Ferry';
    font-weight: 900;
    font-size: 45px;
    line-height: 54px;
}

.cardContainer {
    margin-bottom: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
}

.nextButton,
.previosButton {
    width: 40px;
    height: 40px;
    display: flex;
    flex-shrink: 0;
    background-repeat: no-repeat;
}

.nextButton {
    background-image: url("../../../../images/landing/next.png");
}

.previosButton {
    background-image: url("../../../../images/landing/previos.png");
}

@media screen and (max-width: 600px) {
    .general h2 {
        margin-bottom: 32px;
        font-size: 28px;
        line-height: 34px;
    }
}