.general {
    width: 141px;
    height: 71px;
    margin-top: 20px;
    display: flex;
    flex-shrink: 0;
    background-image: url("../../../images/header/logo.svg");
    background-repeat: no-repeat;
}