.general {
    max-width: 1320px;
    width: 100%;
    margin: 69px auto 64px;
    display: flex;
    flex-direction: column;
}

.top {
    margin-bottom: 47px;
    display: flex;
    justify-content: space-between;
}

.buttom {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1300px) {
    .top {
        padding: 0px 10px;
    }
}

@media screen and (max-width: 1150px) {
    .buttom {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 630px) {
    .general {
        margin-bottom: 25px;
    }
}