.general {
    max-width: 1320px;
    width: 100%;
    margin: 50px auto 110px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1300px) {
    .general {
        padding: 0 10px;
    }
}